@import 'tailwindcss';
@import 'leaflet/dist/leaflet.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  overflow: hidden;
  background-color: #0f172a;
}

#root {
  background-color: #0f172a;
}

.leaflet-container {
  background-color: #0f172a !important;
}

.leaflet-tile-pane {
  display: none;
}
